*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(226, 242, 240);
    text-align: center;
    position: sticky;
    margin: 0px;
    padding: 0px;

}

#nav{
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
   justify-content: space-around;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: fixed;
    width: 1550px;
}
#nav div:nth-child(1){
    text-align: left;
  
}
#nav div:nth-child(2){
    text-align: right;
    width: 700px;
     margin-right: 40px;
    }
.nave{
font-size: 20px;
}
.nave button{
    font-size: 15;
    background-color: rgb(255, 255, 255);
    border: 0ch;
    color: rgb(77, 71, 71);
    font-size: 20px;
    margin: 4px;
    cursor:pointer
}
.nave>img{
  margin-right: 20px;
}
#contect{
    border: 1px solid black;
    border-radius: 5px;
  
    }
    #sign{
        background-color: blue;
        border-radius: 5px;
        color: white;
        border: 0px;
        font-size: 20px;
    }
#mid{
    display: flex;
    align-items: center;
    justify-content: center;

}
#mid div:nth-child(1){
    text-align: left;
}
#mid div{
width: 400px;
height:auto;
}
#mid-2{
    display: grid;
 grid-template-columns: repeat(6,200px);
 padding: 40px;
 text-align: center;
 align-items: center;
margin-left: 80px;
}#solution{
     height: 250px;
    background-color: white;
    }
#solution div:nth-child(1){
    text-align: center;
    width: 600px;
    height: 250px;
    background-color: white;
    font-size: 30px;
    align-items: center;
    margin-left: 480px;
}#new{
border: 1px solid rgb(47, 1, 96);
background-color: rgb(47, 1, 96);
border-radius: 10px;
font-size: 15px;
color: white;
}
#mid-3{
    display: grid;
    grid-template-columns: repeat(2,auto);
    text-align: center;
    margin-top: 5px;
    align-items: center;
 
}
#mid-3 div:nth-child(2){
    width: 400px;
    text-align: left;
}
.unit{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
}
.unit div:nth-child(1){
    width: 400px;
    text-align: left;
    margin-left: 300px;
}
   #bringimg{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
#brings{
    display: grid;
    grid-template-columns: repeat(2,200px);
    text-align: center;
    align-content: center;
gap: 600px;
   
    
}
#brings div:nth-child(1){
    text-align: left;
    margin-left: 200px;
    
    width: 200px;
}
#brings div:nth-child(2){
    text-align: left;
   
    margin-right: 100px;
    width: 200px;
}
#bring{
    display: grid;
    grid-template-columns: repeat(1,auto);
}#started{
    display: flex;
    justify-content: space-evenly;
}.vide{
    margin: auto;
    height: 450px;

}#quick{
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: center;
   
}#quick div:nth-child(1){
   
    align-items: center;
  
    text-align: right;
}#lowertab{
    display: flex;
 background-color: rgb(255, 255, 255);
    justify-content: center;
    
}
#lowertab div:nth-child(2){
   width: 240px;
  
    justify-content: center;
    margin-right: 500px;
    
}
#lowertab div:nth-child(1){
    width: 600px;
    justify-content: center;
     margin-left: 200px;
 }
.lower{
    width: 50%;
    margin-left: 200px;
    height: 420px;
}
#bottom{
    text-align: center;
    width: 400px;
    height: auto;
    margin-left: 40%;
}
.right{
    margin-right: 30px;
    width: 80%;
   
}
.ing{
    width: 40px;
    height: 40px;
    margin-top: 8px;
  
}
#last{
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: 200px;
    
    gap: 220px;
    text-align: center;
    
}
#last a{
    color: rgb(103, 97, 97);
    font-size: 20px;
    text-decoration: none;
}
#em{
    display: grid;
    grid-template-columns: repeat(2,7fr);
    align-items: center;
    text-align: center;
    height: 100px;
    font-size: 20px;
   }
   #em button{
    color: blue;
    font-size: 20px;
   }
#tab{
    background-color: rgb(243, 239, 231);
    display: grid;
    width: 400px;
   
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
#tab a{
    color: rgb(9, 1, 1);
    font-size: 40px;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
  
}
#tab a:hover{
    color: rgb(211, 21, 21);
    font-size: 40px;
   border: 1px solid black;
  
}
#navar{
    background-color: rgb(249, 249, 249);
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2,850px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
}
#plan{
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: blue;
      padding-top: 40px;
      margin-top: 40px;
      width: 1500px;
    }
    #free{
    display: grid;
    grid-template-columns: repeat(4,288px);
   
     grid-column: auto;
    font-size: 15px;
    gap: 8px;
    text-align: center;
position: relative;
left: 200px;
    
    }
#free div:nth-child(1){
    border: 1px solid black;
    height: 630px;
    border-radius: 20px;
    background-color: white;
}
#free div:nth-child(1) button{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
    color: rgb(6, 6, 6);
    background-color: rgb(255, 255, 255);
    width: 150px;
}
#free div:nth-child(2){
    border: 1px solid black;
    height: 630px;
    border-radius: 20px;
    background-color: rgb(231, 132, 104);
}
#free div:nth-child(2) button{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 150px;
}
#free div:nth-child(3){
    border: 1px solid rgb(124, 209, 183);
    height: 630px;
    border-radius: 20px;

}
#free div:nth-child(3) button{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
    color: white;
    background-color: rgb(75, 14, 245);
    width: 150px;
}
#free div:nth-child(4){
    border: 1px solid rgb(0, 0, 0);
    height: 630px;
    border-radius: 20px;
    color: white;
    background-color: black;
}
#free div:nth-child(4) button{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    width: 150px;
}
#perfect{
    font-size: 30px;
 
}
#bottom button{
    color: rgb(221, 206, 206);
    font-size: 20px;
    border:0px;
    background-color: rgb(29, 0, 245);
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    
}

#bottom>button>a{
color: white;
 text-decoration: none;
}
.over{
    width: auto;
    height: 100vh;
    background-color: rgb(0, 97, 182);
    position: fixed;
    transition: 1s;
}   
 .login{
    margin-top: 400px;
    background-color: aliceblue;
  padding: 20px;
  width: 500px;
 position: absolute;
 left: 50%;
 top: -50%;
 transition: 1s;
 height: 600px;
 font-size: 20px;
 opacity: 1;
transform: translate(-50%,-50%);
}
form button{
    background-color: white;
    padding: 10px 10px;
    color: rgb(11, 2, 2);
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(216, 216, 225);
    
}
.login span{
    position: absolute;
    right: 0px;
    width: 30px;
    background-color: rgb(248, 0, 0);
    cursor: pointer;
cursor: pointer;
}
.overshow{
opacity: 1;
}
.loginshow{
top: 50px;
}

#google{
    display: flex;
    border-radius:2px ;
    border: 1px solid black;
    width: 350px;
   margin:auto;
}
#google div:nth-child(2){
margin-left: 10px;
}
form{
    text-align: center;
    font-size: 30px;
}
#email{
   padding: 10px;
}
*{
    margin: 0px;
    padding: 0px;
}.page{
    width: 400px;
    height: auto;
    background-color: rgb(254, 254, 254);
    position: absolute;
    left: auto;
    top: auto;
    transition: 1s;
    opacity: 0;
    z-index: 1;
   text-align: left;
   margin-top: 60px;
  }.page div:nth-child(1){
    width: 170px;
}
.page>div>a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    
}
.page>div>a:hover{
 background-color: rgb(214, 109, 109);
    
}
.page>div>p{
color: #252020;
font-size: 10px;
color: #252020;
    
}
.page  div:nth-child(2){
margin-top:150px;
}
.pageshow{
    opacity: 1;

}
.page>div>span{
margin-left: 370px;
background-color: rgb(255, 17, 17);
padding: 0px 2px 2px 2px;
cursor: pointer;
font-size: 20px;
}
#loginn{
    cursor: pointer;
}
#air{
  
    height: 60px;

}
.solu{
    width: 400px;
    height: auto;
    background-color: rgb(254, 254, 254);
    position: absolute;
    left: auto;
    top: auto;
    transition: 1s;
   
    opacity: 0;
   border-radius: 10px;
   z-index: 1;
   text-align: left;


   margin-top: 60px;
   border: 1px solid gray;
   
   
    
}
.solu div:nth-child(1){
    width: 170px;
}
.solu>div>a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    
}
.solu>div>a:hover{
 background-color: rgb(214, 109, 109);
    
}
.solu>div>p{
color: #252020;
font-size: 10px;
color: #252020;
    
}
.solu  div:nth-child(2){
margin-top:150px;
}
.solushow{
    opacity: 1;
}
#zzz{
margin-left: 370px;
background-color: rgb(255, 17, 17);
padding: 0px 2px 2px 2px;
cursor: pointer;
font-size: 20px;
}
@media all and (min-width: 301px) and (max-width: 900px) {
    #nav{
        background-color: rgb(255, 255, 255);
        height: 60px;
        display: flex;
       justify-content: space-around;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        position: fixed;
        width: auto;
        }
    #nav div:nth-child(1){
        text-align: left;
    }
    #nav div:nth-child(2){
        text-align: right;
        width: 500px;
        margin-right: 20px;
    } 
    .nave button{
        font-size: 10px;
        background-color: rgb(255, 255, 255);
        border: 0ch;
        color: rgb(77, 71, 71);
        margin: 4px;
    }
    .nave>img{
      margin-right: 20px;
    }
    #contect{
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
      
        }
        #sign{
            background-color: blue;
            border-radius: 5px;
            color: white;
            border: 0px;
            font-size: 20px;
            cursor: pointer;
        }
        #mid{
            display: grid;
            grid-template-columns: repeat(1,auto);
            grid-template-areas:"1,2" ;
           
        }
    
    #mid div:nth-child(1){
      
        grid-area: 2;
    }
      
    #mid div:nth-child(2){
      width: 300px;
        grid-area: 1;
        
    }
    #mid div{
    width: auto;
    height:auto;
    }
    #mid-2 {
     display: grid;
     grid-template-columns: repeat(3,200px);
     padding: 40px;
     text-align: center;
     align-items: center;
    margin-left: 80px;
    gap: 10px;
    }
    #solution{
        height: auto;
        background-color: white;
        width: auto;
     }
    #solution div:nth-child(1){
        background-color: white;
        font-size: 20px;
        margin:auto;
    }
    #new{
    border: 1px solid rgb(47, 1, 96);
    background-color: rgb(47, 1, 96);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    }
    #mid-3{
        display: grid;
        grid-template-columns: repeat(1,auto);
        text-align: center;
        margin-top: 5px;
        align-items: center;
        grid-template-areas: "1,2";
     
    }
    #mid-3 div:nth-child(1){
      grid-area: 2;
    }
    #mid-3 div:nth-child(2){
      margin: auto;
        grid-area: 1;
    }
    .unit{
        display: grid;
        grid-template-columns: repeat(1,auto);
       height: auto;
        width: auto;
    }
    .unit div:nth-child(1){
       margin: auto;
    }
  #bringimg{
        width: 600px;
        height: auto;
        margin:auto;

    }
    #bring {
        font-size: 10px;
        margin: auto;
        width: 200px;
    }
    #started{
        display: flex;
        justify-content: space-evenly;
    }
    .vide{
        margin: auto;
        height: 450px;
    
    }
    #quick{
        display: grid;
        grid-template-columns: repeat(2,500px);
         align-items: center;
    }
    #quick div{
        text-align: center;
    }#bottom{
        text-align: center;
        width: 400px;
        height: auto;
        margin-left: 40%;
    }
    .right{
        margin-right: 30px;
        width: 80%;
       
    }
    .ing{
        width: 40px;
        height: 40px;
        margin-top: 8px;
      
    }
    #last{
        display: grid;
        grid-template-columns: repeat(5,100px);
        grid-template-rows: 200px;
        
        gap: 220px;
        text-align: center;
        
    }
    #last a{
        color: rgb(103, 97, 97);
        font-size: 20px;
        text-decoration: none;
    }
    #em{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: center;
       
    }
    #tab{
        background-color: rgb(243, 239, 231);
        display: grid;
        width: 400px;
       
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
    #tab a{
        color: rgb(9, 1, 1);
        font-size: 40px;
        text-decoration: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block
      
    }
    #tab a:hover{
        color: rgb(211, 21, 21);
        font-size: 40px;
       border: 1px solid black;
      
    }
    #navar{
        background-color: rgb(249, 249, 249);
        height: 60px;
        display: grid;
        grid-template-columns: repeat(2,850px);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        
    }
    #plan{
        height: 50px;
        color: rgb(255, 255, 255);
        background-color: blue;
          padding-top: 40px;
          margin-top: 40px;
          width: 1500px;
        }
        #free{
        display: grid;
        grid-template-columns: repeat(4,288px);
       
         grid-column: auto;
        font-size: 15px;
        gap: 8px;
        text-align: center;
    position: relative;
    left: 200px;
        
        }
    #free div:nth-child(1){
        border: 1px solid black;
        height: 630px;
        border-radius: 20px;
        background-color: white;
    }
    #free div:nth-child(1) button{
        border: 1px solid rgb(0, 0, 0);
        padding: 20px;
        border-radius: 30px;
        color: rgb(6, 6, 6);
        background-color: rgb(255, 255, 255);
        width: 150px;
    }
    #free div:nth-child(2){
        border: 1px solid black;
        height: 630px;
        border-radius: 20px;
        background-color: rgb(231, 132, 104);
    }
    #free div:nth-child(2) button{
        border: 1px solid rgb(0, 0, 0);
        padding: 20px;
        border-radius: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        width: 150px;
    }
    #free div:nth-child(3){
        border: 1px solid rgb(124, 209, 183);
        height: 630px;
        border-radius: 20px;
    
    }
    #free div:nth-child(3) button{
        border: 1px solid rgb(0, 0, 0);
        padding: 20px;
        border-radius: 30px;
        color: white;
        background-color: rgb(75, 14, 245);
        width: 150px;
    }
    #free div:nth-child(4){
        border: 1px solid rgb(0, 0, 0);
        height: 630px;
        border-radius: 20px;
        color: white;
        background-color: black;
    }
    #free div:nth-child(4) button{
        border: 1px solid rgb(0, 0, 0);
        padding: 20px;
        border-radius: 30px;
        color: rgb(5, 5, 5);
        background-color: rgb(255, 255, 255);
        width: 150px;
    }
    
    #google{
        display: flex;
        border-radius:2px ;
        border: 1px solid black;
        width: 350px;
       margin:auto;
    }
    #google div:nth-child(2){
    margin-left: 10px;
    }
    form{
        text-align: center;
        font-size: 30px;
    }
    #email{
       padding: 10px;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    .page{
        width: 400px;
        height: auto;
        background-color: rgb(254, 254, 254);
        position: absolute;
        left: auto;
        top: auto;
        transition: 1s;
       
       opacity: 0;
       border-radius: 10px;
       z-index: 1;
       text-align: left;
       margin-top: 60px;
       border: 1px solid gray;
       
       
        
    }
    .page div:nth-child(1){
        width: 170px;
    }
    .page>div>a{
        text-decoration: none;
        font-size: 25px;
        color: black;
        
    }
    .page>div>a:hover{
     background-color: rgb(214, 109, 109);
        
    }
    .page>div>p{
    color: #252020;
    font-size: 10px;
    color: #252020;
        
    }
    .page  div:nth-child(2){
    margin-top:150px;
    }
    .pageshow{
        opacity: 1;
    }
    #sss{
    margin-left: 370px;
    background-color: rgb(255, 17, 17);
    padding: 0px 2px 2px 2px;
    cursor: pointer;
    font-size: 20px;
    }
    #loginn{
        cursor: pointer;
    }
    #air{
      
        height: 60px;
    
    }
    .solu{
        width: 400px;
        height: auto;
        background-color: rgb(254, 254, 254);
        position: absolute;
        left: auto;
        top: auto;
        transition: 1s;
       
        opacity: 0;
       border-radius: 10px;
       z-index: 1;
       text-align: left;
       margin-top: 60px;
       border: 1px solid gray;
       
       
        
    }
    .solu div:nth-child(1){
        width: 170px;
    }
    .solu>div>a{
        text-decoration: none;
        font-size: 25px;
        color: black;
        
    }
    .solu>div>a:hover{
     background-color: rgb(214, 109, 109);
        
    }
    .solu>div>p{
    color: #252020;
    font-size: 10px;
    color: #252020;
        
    }
    .solu  div:nth-child(2){
    margin-top:150px;
    }
    .solushow{
        opacity: 1;
    }
    #zzz{
    margin-left: 370px;
    background-color: rgb(255, 17, 17);
    padding: 0px 2px 2px 2px;
    cursor: pointer;
    font-size: 20px;

    }




}